/* = Grid
 ------------------------------------------------------------- */

%container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $size__container-width;
  padding-left: $size__gutter / 2;
  padding-right: $size__gutter / 2;
}

%container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: $size__gutter / 2;
  padding-right: $size__gutter / 2;
}

%row {
  margin-left: -1 * $size__gutter / 2;
  margin-right: -1 * $size__gutter / 2;
}

%row::before,
%row::after {
  content: ' ';
  display: table;
}

%row::after {
  clear: both;
}

%columns {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: $size__gutter / 2;
  //padding-right: $size__gutter / 2;
}

@for $i from 1 to ($grid__number-of-columns + 1){
  %xs-#{map-get($columns, $i)}%columns {width: $grid__column-width * $i;}
}

[class*='xs-']%columns ~ [class*='xs-']%columns {
  margin-top: 0;
}

@include screen-respond-to(small){
  %columns ~ %columns {
    margin-top: 0;
  }
  @for $i from 1 to ($grid__number-of-columns + 1){
    %#{map-get($columns, $i)}%columns {width: $grid__column-width * $i;}
    %offset-by-#{map-get($columns, $i)}%columns {margin-left: $grid__column-width * $i;}
    %sm-#{map-get($columns, $i)}%columns {width: $grid__column-width * $i;}
    %sm-offset-by-zero%columns {margin-left: 0;}
    %sm-offset-by-#{map-get($columns, $i)}%columns {margin-left: $grid__column-width * $i;}
  }
  %sm-offset-by-medium%columns {margin-left: $grid__column-width / 2;}
  %sm-offset-by-one-of-three-medium%columns {margin-left: (100% / 6);}
  %sm-one-of-three%columns{width:(100% / 3);}
  %sm-two-of-three%columns{width:(100% / 3 * 2);}
  %sm-one-of-ten%columns{width:(100% / 10);}
  %sm-nine-of-ten%columns{width:(100% / 10 * 9);}
}
@include screen-respond-to(medium){
  @for $i from 1 to ($grid__number-of-columns + 1){
    %md-#{map-get($columns, $i)}%columns {width: $grid__column-width * $i;}
    %md-offset-by-zero%columns {margin-left: 0;}
    %md-offset-by-#{map-get($columns, $i)}%columns {margin-left: $grid__column-width * $i;}
  }
  %md-one-of-three%columns{width:(100% / 3);}
  %md-two-of-three%columns{width:(100% / 3 * 2);}
  %md-offset-by-one-of-three-medium%columns {margin-left: (100% / 6);}
  %md-offset-by-medium%columns {margin-left: $grid__column-width / 2;}
  %md-one-of-ten%columns{width:(100% / 10);}
  %md-nine-of-ten%columns{width:(100% / 10 * 9);}
  %md-two-of-five%columns{width:(100% / 5 * 2);}
  %md-three-of-five%columns{width:(100% / 5 * 3);}
}
@include screen-respond-to(large){
  @for $i from 1 to ($grid__number-of-columns + 1){
    %lg-#{map-get($columns, $i)}%columns {width: $grid__column-width * $i;}
    %lg-offset-by-zero%columns {margin-left: 0;}
    %lg-offset-by-#{map-get($columns, $i)}%columns {margin-left: $grid__column-width * $i;}
  }
  %lg-one-of-three%columns{width:(100% / 3);}
  %lg-two-of-three%columns{width:(100% / 3 * 2);}
  %lg-offset-by-medium%columns {margin-left: $grid__column-width / 2;}
  %lg-one-of-ten%columns{width:(100% / 10);}
  %lg-nine-of-ten%columns{width:(100% / 10 * 9);}
}