/* = Blockquote
 ------------------------------------------------------------- */

blockquote{
    padding: 20px 45px;
    margin: 15px;
    position: relative;
    border-left: 15px solid $color__link;
    border-right: 2px solid $color__link;
    &::before{
        content: "\201C";
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;
        position: absolute;
        left: 10px;
        top: 0px;
    }
    &::after{
        content: "\201D";
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;
        position: absolute;
        right: 10px;
        bottom: 0px;
    }
    & p{
        margin-bottom: 0;
    }
    & a{
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        padding: 3px;
    }
}