/* = Buttons
 ------------------------------------------------------------- */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    cursor: pointer;
    border-color: transparent;
    background-color: $color__background-button;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: $border__radius;
    &:hover{
      background-color: $color__background-button-hover;
    }
    &:active{
      background-color: $color__background-button-active;
    }
}

.button:disabled,
.button:disabled:hover,
button[disabled],
.button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  background-color: $color__background-button-disabled;
  cursor: not-allowed;
}
