/* = Code
 ------------------------------------------------------------- */

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  white-space: nowrap;
  background: $color__background-code;
  border: $border__code;
  border-radius: $border__radius;
}

pre{
    background:$color__background-pre;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAZCAMAAADHTrRNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABLUExURVhWTVBPR09OR0dGQFhXTkZFP0VEP1dVTU9NRllXTj8+OUhHQUA/OlJQSUpIQlRSSlNRSktJQ1VTS0NBPEJBPExKRERCPWBeVE5MRWexdW0AAAAtSURBVAjXBcEJAkAgAACwUVSu5P7/S22iV0FyqHarTi/73JrNLBiMHqfLYvoBG8wBLYKU9fwAAAAASUVORK5CYII=');
    background-repeat:repeat-x;
    color: white;
    margin-bottom:1.6em;
    max-width:100%;
    overflow:auto;
    border-top-left-radius:10px;
    border-top-right-radius:10px
}

pre > code{
  background: transparent;
  boder: transparent;
}