/* = Tables
 ------------------------------------------------------------- */
table {
  overflow-x: auto;
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  white-space: nowrap;
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: $border__td;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
    border-bottom: 1px solid #000;
}

@media (min-width: #{map-get($breakpoints, medium)}) {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
}
