/* = Typography
 ------------------------------------------------------------- */

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: $font__text-main-size;
  font-weight: 400;
  line-height: $font__line-height-body;
}
p, article li{
  font-family: $font__main_2;
  font-size: $font__text-main_2-size;
}
.menu-item{
  font-family: $font__menu;
  clear:right;
  color: $color__link;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font__title;
  clear:right;
  color: $color__link;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}
  
h1 { font-size: $font__text-title-base-size; letter-spacing: $font__title-letter-spacing * 1.5}
h2 { font-size: $font__text-title-base-size * 0.95; letter-spacing: $font__title-letter-spacing * 1.4}
h3 { font-size: $font__text-title-base-size * 0.90; letter-spacing: $font__title-letter-spacing * 1.3}
h4 { font-size: $font__text-title-base-size * 0.85; letter-spacing: $font__title-letter-spacing * 1.2}
h5 { font-size: $font__text-title-base-size * 0.85; letter-spacing: $font__title-letter-spacing * 1.2}
h6 { font-size: $font__text-title-base-size * 0.85; letter-spacing: $font__title-letter-spacing * 1.2}

p {
  margin-top: 0;
}